<p>Student Data</p>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let item of studentData; let i=index">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.email}}</td>
      <td>
        <button (click)="deleteStudent(item.id)">delete</button>
        &nbsp;
        <a routerLink="/edit-student/{{item.id}}">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
