<p> Edit Student</p>

<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Update Student Successfully</strong>
  <button type="button" (click)="removeAlert()" data-bs-dismiss="alert" aria-label="Close">X</button>
</div>

<form [formGroup]="editStudent" (ngSubmit)="UpdateData()">

  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" class="form-control" formControlName="email">
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="editStudent.invalid">Submit</button>
</form>
